{%  extends "layout.html" %}
{% block title %}- Home{% endblock %}
{% block body %}
    <div style="text-align: center;">
        <h2>{{ config.NAME }}</h2>
    <p>{{ config.NAME }} is a point bot for Slack. Using ++ and --, you can add or subtract points from other things or team members for doing good things (or not-so-good things). Reward your team members for doing good today with {{ config.NAME }}!.</p>

    <h3>Click the button below to install {{ config.NAME }}</h3>
    <a href="{{ config.SLACK_OAUTH_URL }}"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x"></a>
    </div>
{% endblock %}